.service{
    margin-right: 5%;
    text-align: center;
}
.card{
    display: unset;
}
.service Button{
    width: 100%;
}
.service Button:hover{
    cursor: pointer;
    background-color: rgb(10, 139, 38);
}